<nav class="sticky-top border-bottom shadow-sm bg-white">
    <div class="container-md d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
        <a href="/" class="text-decoration-none">
            <h3 class="d-flex align-items-center fw-bolder text-dark"><i class="fa-solid fa-house-chimney me-1 text-danger"></i><span class="text-danger me-1">REAL</span>ESTATE</h3>
        </a>
        <div class="input-group my-2 rounded-pill searchbar w-50">
            <input type="text" class="form-control" placeholder="Search a location... (e.g. : Ankara, Istanbul)">
            <button class="btn btn-danger px-3" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="d-flex">
            <% if(locals.isAuthenticated){ %>
                <div class="dropdown me-2">
                    <button class="btn btn-danger px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/account/infos">Informations</a></li>
                      <li><a class="dropdown-item" href="/account/favorites">Favorites</a></li>
                      <li><a class="dropdown-item" href="/account/ads">Ads</a></li>
                      <li class="border-top"><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                  </div>
            <% }else{ %>
                <a href="/auth/signup" class="btn btn-danger me-2">Sign Up</a>
            <% } %>
            <a href="" class="btn btn-outline-danger" >Post New Ad</a>
        </div>
    </div>
</nav>