<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layouts/imports.ejs') %>
    <title>Real Estate | Create Account</title>
  </head>
  <body>
    <%- include('./layouts/navbar.ejs') %>

    <div class="container-md d-flex justify-content-center align-items-center flex-column py-5">
      <form class="form-div p-3 mb-2" action="/auth/signup" method="POST">
            <h1 class="text-center mb-5">Create Account</h1>
            <div class="fs-5 d-flex align-items-center auth-type mx-auto">
              <p class="toggle-left-label">Individual</p>
              <div class="form-check form-switch mb-3">
                <input class="form-check-input fs-3 me-1" type="checkbox" role="switch" id="authType" value="corporate">
              </div>
              <p class="ms-1">Corporate</p>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-user"></i>
              </span>
              <div class="form-floating">
                  <input type="text" class="form-control" name="fullname" placeholder="Full Name" required>
                  <label for="fullname">Full Name</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-envelope"></i>
              </span>
              <div class="form-floating">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text bg-danger text-white">
                <i class="fa-solid fa-phone"></i>
              </span>
              <div class="form-floating">
                  <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
                  <label for="phone">Phone</label>
              </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa fa-lock"></i>
                </span>
                <div class="form-floating">
                    <input class="form-control password" type="password" name="password" required placeholder="Password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="d-none" id="corporateArea">
              <p class="fs-5 text-center fw-bold">Company Informations</p>
              <div class="d-flex justify-content-between my-2">
              <div class="form-check me-3 fs-5">
                <input class="form-check-input" type="radio" name="companyType" id="realEstate" checked value="realEstate">
                <label class="form-check-label" for="realEstate">
                  Real Estate Office
                </label>
              </div>
              <div class="form-check fs-5">
                <input class="form-check-input" type="radio" name="companyType" id="buildingCompany" value="buildingCompany">
                <label class="form-check-label" for="buildingCompany">
                  Building Company
                </label>
              </div>
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa-solid fa-building"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" name="companyName" placeholder="Company Name">
                    <label for="companyName">Company Name</label>
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text bg-danger text-white">
                  <i class="fa-solid fa-location-dot"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" name="companyAddress" placeholder="Company Address">
                    <label for="companyAddress">Company Address</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-danger form-control fs-5">Create Account</button>
            <div class="text-center">
            <p class="fs-5 my-4">You already have an account?</p>
            <a href="/auth/signup">
                <button type="button" class="btn btn-outline-danger w-100 fs-5">Login</button>
            </a>
        </div>
      </form>
    </div>

    <%- include('./layouts/footer.ejs') %>
  </body>
</html>
