@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* HOME PAGE */
.home{
    overflow-x: hidden;
}

.background{
    width:100vw;
    height:100vh;
    background: linear-gradient(to bottom, rgba(185, 28, 28,.7), rgba(185, 28, 28,.8)), url('../images/Istanbul7.jpg');
    color:#fff !important;
}

.middle-area{
    max-width:600px;
    width: 30vw;
    opacity: 1;
}

.brand{
    font-size: 48px;
}

.search-button{
    cursor: pointer;
    transition: .3s;
}

.search-button:hover{
    color: #dc3545;
}

/* DISCOVER */
.discover{
    width:100%;
}